{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit"/>
        </form>
    </div>
    <div class="pure-g" style="width: 70%; margin: 0 auto;">
        <div class="pure-u-1">
            <h2>Features</h2>
        </div>
        <div class="pure-u-1-2">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="pure-u-1-2">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
    </div>
{% endblock content %}
